<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="c:\temp\internal-nlog-AspNetCore.txt">

	<!-- enable asp.net core layout renderers -->
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<!-- the targets to write to -->
	<targets>
		<target xsi:type="File" name="allfile" fileName="D:\DEVs\Projects\WarehouseManagerAPI\logs\${shortdate}-WarehouseScannersAPI-all.log"
		        layout="${longdate}|${event-properties:item=EventId:whenEmpty=0}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}" />

		<target xsi:type="File" name="queriesLog" fileName="D:\DEVs\Projects\WarehouseManagerAPI\logs\${shortdate}-WarehouseScannersAPI-queries.log"
		layout="${longdate} | ${message}" />

		<target xsi:type="File" name="responseTimeMiddleware" fileName="D:\DEVs\Projects\WarehouseManagerAPI\logs\${shortdate}-WarehouseScannersAPI-responseTime.log"
		        layout="${longdate} | ${level:uppercase=true} | ${message}" />

		<target xsi:type="File" name="responseTimeWarning" fileName="D:\DEVs\Projects\WarehouseManagerAPI\logs\WarehouseScannersAPI-responseTimeWarnings.log"
		        layout="${longdate} | ${message}" />

		<target xsi:type="File" name="exceptions" fileName="D:\DEVs\Projects\WarehouseManagerAPI\logs\${shortdate}-WarehouseScannersAPI-exceptions.log"
		        layout="${longdate} | ${message} | ${exception:format=tostring}" />

		<!--Console Target for hosting lifetime messages to improve Docker / Visual Studio startup detection -->
		<target xsi:type="Console" name="lifetimeConsole" layout="${MicrosoftConsoleLayout}" />
	</targets>

	<rules>
		<!--All logs, including from Microsoft-->
		<logger name="*" minlevel="Trace" writeTo="allfile" />

		<logger name="WarehouseManagerAPI.Services.*" minlevel="Info" writeTo="queriesLog,lifetimeConsole" />

		<logger name="WarehouseScannersAPI.Middleware.ResponseTimeMiddleware" minlevel="Info" writeTo="responseTimeMiddleware,lifetimeConsole" />
		<logger name="WarehouseScannersAPI.Middleware.ResponseTimeMiddleware" minlevel="Warning" writeTo="responseTimeWarning,lifetimeConsole" />

		<logger name="WarehouseManagerAPI.Middleware.ErrorHandlingMiddleware" level="Error" minlevel="Error" writeTo="exceptions,lifetimeConsole" />
		<logger name="WarehouseManagerAPI.*" level="Error" minlevel="Error" writeTo="exceptions,lifetimeConsole" />

		<!--Output hosting lifetime messages to console target for faster startup detection -->
		<logger name="Microsoft.Hosting.Lifetime" minlevel="Info" writeTo="lifetimeConsole, ownFile-web" final="true" />

		<!--Skip non-critical Microsoft logs and so log only own logs (BlackHole) -->
		<logger name="Microsoft.*" maxlevel="Info" final="true" />
		<logger name="System.Net.Http.*" maxlevel="Info" final="true" />

		<logger name="*" minlevel="Trace" writeTo="ownFile-web" />
	</rules>
</nlog>